* {
    margin: 0;
    padding: 0;
}

html,
body {
    overflow: hidden;
    height: 100%;
}

.webgl {
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

.inner {
    height:100%;
    width: auto;
    background-color: #fff;
    color: #000;
    border-radius: 8px;
}

.drag-handle div{
    background-color: rgb(207, 238, 34);
    color: #000;
    font-size: 12px;

}
.resize-handle{
    background-color: rgb(248, 113, 131);
}

.property_name {
    font-weight: bold;
    font-size: 2em;

}

.property_label{
  user-select: none;
  -webkit-user-select: none;
}

table.blueTable {
    border: 1px solid #000000;
    background-color: #EEEEEE;
    width: 100%;
    text-align: left;
    border-collapse: collapse;
    color: #000;
  }
  table.blueTable td, table.blueTable th {
    border: 1px solid #AAAAAA;
    padding: 3px 2px;
  }
  table.blueTable tbody td {
    font-size: 13px;
  }
  table.blueTable tfoot td {
    font-size: 14px;
  }
  table.blueTable tfoot .links {
    text-align: right;
  }
  table.blueTable tfoot .links a{
    display: inline-block;
    background: #1C6EA4;
    color: #030000;
    padding: 2px 8px;
    border-radius: 5px;
  }

  input {
    width: 60px;
    /* border: none; */
    padding: 0;
    margin: 0;
    font-size: 14px;
}

.movable-box {
  width: fit-content !important;
  width: -moz-fit-content !important;
      position: fixed;
    z-index: 9;
    width: 120px;
    border-radius: 4px;
    padding: 1px;
    margin: 1px;
    background-color: #29e;
    color: white;
    font-size: 18px;
    font-family: sans-serif;
    border: #fff;
    border: 2px;
    border-style: solid;
  
    touch-action: none;
  
    /* This makes things *much* easier */
    box-sizing: border-box;
  }

.resize-drag {
    position: fixed;
    z-index: 9;
    width: 120px;
    border-radius: 8px;
    padding: 20px;
    margin: 1rem;
    background-color: #29e;
    color: white;
    font-size: 20px;
    font-family: sans-serif;
  
    touch-action: none;
  
    /* This makes things *much* easier */
    box-sizing: border-box;
  }

.draggable_div {
    position: absolute;
    z-index: 9;
    background-color: #f1f1f1;
    border: 10px solid #d3d3d3;
    text-align: center;
    visibility: visible;
    /* resize: both; */
    overflow: auto;
    border-radius: 8px;
}

.draggable_divheader {
    padding: 10px;
    cursor: move;
    z-index: 10;
    background-color: #2196F3;
    color: #fff;
    /* resize: both; */
    overflow: auto;
}

/* #mydiv {
    position: absolute;
    z-index: 9;
    background-color: #f1f1f1;
    border: 1px solid #d3d3d3;
    text-align: center;
    resize: both;
    overflow: auto;
}

#mydivheader {
    padding: 10px;
    cursor: move;
    z-index: 10;
    background-color: #2196F3;
    color: #fff;
    resize: both;
    overflow: auto;
} */